*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

.env
/.venv/

data/

__pycache__/

*.pth

/.cache/
/.vscode/
/.pep2prob/
/pep2prob-benchmark/
/.nist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
